<div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Hasło użytkownika <b>{{account.login}}</b></h2>

            <div class="alert alert-success" ng-show="success">
                <strong>Hasło zmienione!</strong>
            </div>
            <div class="alert alert-danger" ng-show="error" >
                <strong>Wystąpił błąd!</strong> Nie udało się zmienić hasła.
            </div>

            <div class="alert alert-danger" ng-show="doNotMatch">
                Hasło i potwiedzenie hasła nie są identyczne!
            </div>

            <form name="form" role="form" novalidate ng-submit="changePassword()" show-validation>

                <div class="form-group">
                    <label class="control-label" for="password">Nowe hasło</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Nowe hasło"
                           ng-model="password" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.password.$dirty && form.password.$invalid">
                        <p class="help-block"
                           ng-show="form.password.$error.required">
                            Hasło jest wymagane.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.minlength">
                            Twoje hasło powinno mieć przynajmniej 5 znaków.
                        </p>
                        <p class="help-block"
                           ng-show="form.password.$error.maxlength">
                            Twoje hasło powinno być krótsze niż 50 znaków.
                        </p>
                    </div>
                    <password-strength-bar password-to-check="password"></password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="control-label" for="confirmPassword">Potwierdź nowe hasło</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Potwierdź nowe hasło"
                           ng-model="confirmPassword" ng-minlength=5 ng-maxlength=50 required>
                    <div ng-show="form.confirmPassword.$dirty && form.confirmPassword.$invalid">
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.required">
                            Potwierdzenie nowego hasła jest wymagane.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.minlength">
                            Twoje potwierdzone hasło powinno mieć przynajmniej 5 znaków.
                        </p>
                        <p class="help-block"
                           ng-show="form.confirmPassword.$error.maxlength">
                            Twoje potwierdzone hasło powinno być krótsze niż 50 znaków.
                        </p>
                    </div>
                </div>

                <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Zapisz</button>
            </form>
        </div>
    </div>
</div>
