<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/"><span>brewnote</span></a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse" ng-switch="isAuthenticated()">
            <ul class="nav navbar-nav navbar-right">
                <li ui-sref-active="active">
                    <a ui-sref="home" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-home"></span>
                        <span class="hidden-sm">Strona główna</span>
                    </a>
                </li>
                <li ng-class="{active: $state.includes('recipe')}" ng-switch-when="true" has-authority="ROLE_USER" dropdown>
                    <a dropdown-toggle href="" id="recipe-menu">
                        <span>
                            <span class="glyphicon glyphicon-book"></span>
                            <span class="hidden-sm">
                                Przepisy
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="recipe" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-star"></span>
                            &#xA0;<span>Moje przepisy</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="recipee" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-eye-open"></span>
                            &#xA0;<span>Przepisy znajomych</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="recipeee" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-globe"></span>
                            &#xA0;<span>Publiczne przepisy</span></a></li>
                    </ul>
                </li>

                <li ng-class="{active: $state.includes('friendship')}"  ng-switch-when="true" has-authority="ROLE_USER">
                    <a ui-sref="friendship" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-heart"></span>
                        <span class="hidden-sm">Znajomi</span>
                    </a>
                </li>
                <li ng-class="{active: $state.includes('friendGroup')}"  ng-switch-when="true" has-authority="ROLE_USER">
                    <a ui-sref="friendGrouop" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-glass"></span>
                        <span class="hidden-sm">Grupy</span>
                    </a>
                </li>
                <li ng-class="{active: $state.includes('calculators')}">
                    <a ui-sref="calculators" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-list-alt"></span>
                        <span class="hidden-sm">Kalkulatory</span>
                    </a>
                </li>
                <li ng-class="{active: $state.includes('notifications')}"  ng-switch-when="true" has-authority="ROLE_USER">
                    <a ui-sref="notifications" data-toggle="collapse" data-target=".navbar-collapse.in">
                        <span class="glyphicon glyphicon-envelope"></span>
                        <span class="hidden-sm">Powiadomienia</span>
                    </a>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" dropdown>
                    <a dropdown-toggle href="">
                        <span>
                            <span class="glyphicon glyphicon-th-list"></span>
                            <span class="hidden-sm">
                                Entities
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ><a ui-sref="recipe" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >recipe</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="comment" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >comment</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="friendGroup" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >friendGroup</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="userGroup" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >userGroup</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="groupSharedRecipe" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >groupSharedRecipe</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="malt" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >malt</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="mashing" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >mashing</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="hop" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >hop</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="yeast" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >yeast</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="additional" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >additional</span></a></li>
                        <li ui-sref-active="active" ><a ui-sref="friendship" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-asterisk"></span>
                        &#xA0;<span >friendship</span></a></li>
                        <!-- JHipster will add entities to the menu here -->
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('account')}" dropdown>
                    <a dropdown-toggle href="" id="account-menu">
                        <span>
                            <span class="glyphicon glyphicon-user"></span>
                            <span class="hidden-sm">
                                Konto
                            </span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="settings" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-wrench"></span>
                            &#xA0;<span>Ustawienia</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a ui-sref="password" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-lock"></span>
                            &#xA0;<span>Hasło</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="true"><a href="" ng-click="logout()" id="logout" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-out"></span>
                            &#xA0;<span>Wyloguj się</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="login" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-log-in"></span>
                            &#xA0;<span>Zaloguj się</span></a></li>
                        <li ui-sref-active="active" ng-switch-when="false"><a ui-sref="register" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-plus-sign"></span>
                            &#xA0;<span>Zarejestruj się</span></a></li>
                    </ul>
                </li>
                <li ng-class="{active: $state.includes('admin')}"  ng-switch-when="true" has-authority="ROLE_ADMIN" dropdown>
                    <a dropdown-toggle href="" id="admin-menu">
                        <span>
                            <span class="glyphicon glyphicon-tower"></span>
                            <span class="hidden-sm">Administration</span>
                            <b class="caret"></b>
                        </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ui-sref-active="active"><a ui-sref="user-management" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-user"></span>
                            &#xA0;<span>User management</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="metrics" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-dashboard"></span>
                            &#xA0;<span>Metrics</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="health" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-heart"></span>
                            &#xA0;<span>Health</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="configuration" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-list-alt"></span>
                            &#xA0;<span>Configuration</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="audits" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-bell"></span>
                            &#xA0;<span>Audits</span></a></li>
                        <li ui-sref-active="active"><a ui-sref="logs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-tasks"></span>
                            &#xA0;<span>Logs</span></a></li>
                        <li ng-hide="inProduction" ui-sref-active="active"><a ui-sref="docs" data-toggle="collapse" data-target=".navbar-collapse.in"><span class="glyphicon glyphicon-book"></span>
                            &#xA0;<span>API</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
