<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Zaloguj się</h1>

            <div class="alert alert-danger" ng-show="authenticationError">
                <strong>Logowanie nie powiodło się!</strong> Spróbuj ponownie.
            </div>
        </div>
        <div class="col-md-4 col-md-offset-4">
            <form class="form" role="form" ng-submit="login($event)">
                <div class="form-group">
                    <label for="username">Nazwa użytkownika</label>
                    <input type="text" class="form-control" id="username" placeholder="Twoja nazwa użytkownika" ng-model="username">
                </div>
                <div class="form-group">
                    <label for="password">Hasło</label>
                    <input type="password" class="form-control" id="password" placeholder="Twoje hasło"
                           ng-model="password">
                </div>
                <button type="submit" class="btn btn-primary">Zaloguj się</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                Nie masz jeszcze konta? <a class="alert-link" href="#/register">Zarejestruj się</a>
            </div>
        </div>
    </div>
</div>
